DBRepository/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DBRepository/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DBRepository/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DBRepository/obj/Debug/netcoreapp2.1/DBRepository.csproj.FileListAbsolute.txt
DBRepository/obj/Debug/netcoreapp2.1/DBRepository.csproj.CopyComplete
DBRepository/obj/Debug/netcoreapp2.1/DBRepository.AssemblyInfo.cs
CommonModels/obj/Debug/netcoreapp2.1/CommonModels.csproj.FileListAbsolute.txt
CommonModels/obj/Debug/netcoreapp2.1/CommonModels.csproj.CopyComplete
CommonModels/obj/Debug/netcoreapp2.1/CommonModels.AssemblyInfo.cs
CommonModels/bin/Debug/netcoreapp2.1/Microsoft.IdentityModel.Tokens.xml
CommonModels/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CommonModels/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CommonModels/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DBRepository/obj/project.assets.json
DBRepository/obj/DBRepository.csproj.nuget.g.targets
.vs/Groove/v15/Server/sqlite3/storage.ide-shm
.vs/Groove/v15/Server/sqlite3/storage.ide-wal
.vs/Groove/v15/Server/sqlite3/storage.ide
.vs/Groove/DesignTimeBuild/.dtbcache
.vs/Groove/v15/.suo
.vs/config/applicationhost.config
.vs/config/applicationhost.config
.vs/config/applicationhost.config
DBRepository/bin/Debug/netcoreapp2.1/CommonModels.dll
DBRepository/bin/Debug/netcoreapp2.1/CommonModels.pdb
DBRepository/bin/Debug/netcoreapp2.1/DBRepository.deps.json
DBRepository/bin/Debug/netcoreapp2.1/DBRepository.dll
DBRepository/bin/Debug/netcoreapp2.1/DBRepository.pdb
DBRepository/bin/Debug/netcoreapp2.1/Microsoft.IdentityModel.Tokens.dll
DBRepository/bin/Debug/netcoreapp2.1/DBRepository.deps.json
DBRepository/bin/Debug/netcoreapp2.1/DBRepository.deps.json
DBRepository/obj/DBRepository.csproj.nuget.cache
DBRepository/obj/DBRepository.csproj.nuget.g.props
DBRepository/obj/Debug/netcoreapp2.1/DBRepository.AssemblyInfoInputs.cache
DBRepository/obj/Debug/netcoreapp2.1/DBRepository.assets.cache
DBRepository/obj/Debug/netcoreapp2.1/DBRepository.csproj.CoreCompileInputs.cache
DBRepository/obj/Debug/netcoreapp2.1/DBRepository.csprojAssemblyReference.cache
DBRepository/obj/Debug/netcoreapp2.1/DBRepository.dll
DBRepository/obj/Debug/netcoreapp2.1/DBRepository.pdb
CommonModels/obj/project.assets.json
CommonModels/obj/Debug/netcoreapp2.1/CommonModels.pdb
CommonModels/obj/Debug/netcoreapp2.1/CommonModels.dll
CommonModels/obj/Debug/netcoreapp2.1/CommonModels.csprojAssemblyReference.cache
CommonModels/obj/Debug/netcoreapp2.1/CommonModels.csproj.CoreCompileInputs.cache
CommonModels/obj/Debug/netcoreapp2.1/CommonModels.assets.cache
CommonModels/obj/Debug/netcoreapp2.1/CommonModels.AssemblyInfoInputs.cache
CommonModels/obj/CommonModels.csproj.nuget.g.props
CommonModels/obj/CommonModels.csproj.nuget.cache
CommonModels/obj/project.assets.json
CommonModels/obj/CommonModels.csproj.nuget.g.props
CommonModels/bin/Debug/netcoreapp2.1/Microsoft.IdentityModel.Tokens.dll
CommonModels/bin/Debug/netcoreapp2.1/CommonModels.pdb
CommonModels/bin/Debug/netcoreapp2.1/CommonModels.dll
DBRepository/obj/DBRepository.csproj.nuget.g.props
DBRepository/bin/Debug/netcoreapp2.1/DBRepository.deps.json
CommonModels/obj/project.assets.json
CommonModels/obj/CommonModels.csproj.nuget.g.props
.vs/config/applicationhost.config
