DBRepository/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DBRepository/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DBRepository/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DBRepository/obj/Debug/netcoreapp2.1/DBRepository.csproj.FileListAbsolute.txt
DBRepository/obj/Debug/netcoreapp2.1/DBRepository.csproj.CopyComplete
DBRepository/obj/Debug/netcoreapp2.1/DBRepository.AssemblyInfo.cs
CommonModels/obj/Debug/netcoreapp2.1/CommonModels.csproj.FileListAbsolute.txt
CommonModels/obj/Debug/netcoreapp2.1/CommonModels.csproj.CopyComplete
CommonModels/obj/Debug/netcoreapp2.1/CommonModels.AssemblyInfo.cs
CommonModels/bin/Debug/netcoreapp2.1/Microsoft.IdentityModel.Tokens.xml
CommonModels/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CommonModels/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CommonModels/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DBRepository/obj/project.assets.json
DBRepository/obj/DBRepository.csproj.nuget.g.targets
